.signup-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 2rem auto;
  max-width: 400px;
}

.btn-signIn {
  position: absolute;
  background-color: white;
  margin: -192px 359px;
}

.bttn {
  background-color: white;
  color: #646cff;
  border: 1px solid;
}

.signup-form input {
  background-color: white;
  border-color: dimgray;
  border: 1px dimgray solid;
  border-radius: 6px;
  color: black; /* Set text color to black */
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.myform .form-group {
  margin-bottom: 1rem;
  position: relative;
  margin-bottom: 1rem;
  position: relative;
  float: left;
  color: black;
}

.other-details {
  display: contents;
  text-align: left;
}

.name {
  display: flex;
  flex-direction: row;
}

.signup-form label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: 0.2s ease-in-out all;
  pointer-events: none;
  color: #999;
}

.signup-form input:focus + label,
.signup-form input:not([value=""]) + label {
  font-size: 0.8rem;
  top: 0;
  transform: translateY(-100%);
}

.signup-form input {
  padding: 0.5rem 0.8rem;
justify-content: space-evenly;
}
